<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahdms.ap.dao.AuthRecordBackupDao">
	<resultMap id="BaseResultMap"
		type="com.ahdms.ap.model.AuthRecordBackup">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="info_source" property="infoSource"
			jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="auth_type" property="authType"
			jdbcType="INTEGER" />
		<result column="ctid_type" property="ctidType"
			jdbcType="INTEGER" />
		<result column="auth_result" property="authResult"
			jdbcType="INTEGER" />
		<result column="server_account" property="serverAccount"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="serial_num" property="serialNum"
			jdbcType="VARCHAR" />
		<result column="sign_data" property="signData"
			jdbcType="VARCHAR" />
		<result column="openID" property="openid" jdbcType="VARCHAR" />
		<result column="location" property="location"
			jdbcType="VARCHAR" />
		<result column="auth_desc" property="authDesc"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs"
		type="com.ahdms.ap.model.AuthRecordBackup" extends="BaseResultMap">
		<result column="pic" property="pic" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, info_source, name, idcard, auth_type, ctid_type,
		auth_result,
		server_account,
		create_time,
		serial_num,sign_data,openID,location,auth_desc
	</sql>
	<sql id="Blob_Column_List">
		pic
	</sql>

	<select id="queryBackupData" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from auth_record
		where 
    <![CDATA[ 
    create_time>=DATE_SUB( CURRENT_DATE(), INTERVAL #{days} DAY )
     ]]>
     <![CDATA[ 
      and create_time< CURRENT_DATE()
     ]]>
	</select>

	<delete id="clearAuthRecordBackupTable">
		delete from auth_record_backup
	</delete>
	
	<insert id="insertSelective" parameterType="com.ahdms.ap.model.AuthRecordBackup" >
    insert into auth_record_backup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="infoSource != null" >
        info_source,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="authType != null" >
        auth_type,
      </if>
      <if test="ctidType != null" >
        ctid_type,
      </if>
      <if test="authResult != null" >
        auth_result,
      </if>
      <if test="serverAccount != null" >
        server_account,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="pic != null" >
        pic,
      </if>
       <if test="signData != null" >
        sign_data,
      </if>
       <if test="openid != null" >
        openID,
      </if>
       <if test="location != null" >
        location,
      </if>
       <if test="authDesc != null" >
        auth_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="infoSource != null" >
        #{infoSource,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="authType != null" >
        #{authType,jdbcType=INTEGER},
      </if>
      <if test="ctidType != null" >
        #{ctidType,jdbcType=INTEGER},
      </if>
      <if test="authResult != null" >
        #{authResult,jdbcType=INTEGER},
      </if>
      <if test="serverAccount != null" >
        #{serverAccount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=LONGVARCHAR},
      </if> 
      <if test="signData != null" >
        #{signData,jdbcType=VARCHAR},
      </if>
       <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="authDesc != null" >
        #{authDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>