<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahdms.billing.dao.ReportMapper">
  <resultMap id="BaseResultMap" type="com.ahdms.billing.model.Report">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ahdms.billing.model.Report">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, type, username
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  
  <select id="selectByReport" parameterType="com.ahdms.billing.model.Report" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report
    <where>
      <if test="date != null and date !='' ">
        and date = #{date,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type != '' ">
        and type = #{type,jdbcType=INTEGER}
      </if>
      <if test="username != null and username != '' ">
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="username == null or username == '' ">
        and username is null
      </if>
    </where>
  </select>
  
   <select id="selectByDate" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report
    where date = #{date,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from report
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from report
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ahdms.billing.model.Report">
    insert into report (id, date, type, 
      content,username)
    values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR},#{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ahdms.billing.model.Report">
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahdms.billing.model.Report">
    update report
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ahdms.billing.model.Report">
    update report
    set date = #{date,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      username = #{username,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahdms.billing.model.Report">
    update report
    set date = #{date,jdbcType=VARCHAR},
     username = #{username,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>